# OS / editor
.DS_Store
*.swp

# Python / Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv

# Datos y artefactos
data/*.csv
data/*.parquet
data/*.xlsx
models/*.joblib
reports/*.html
reports/*.pdf

# Otros
*.log
